body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: rgb(255, 247, 236);
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  
    /* padding: 0 100px 0 15px; */
    align-items: center;
    background-color:  rgb(81, 19, 19);
    box-shadow: 0px 8px 16px 0px rgba(10, 10, 10, 0.2);
  /* position: fixed;
  width: 100%;
  top: 0; */
  
  
  }
  /* header a{
    text-decoration: none;
    color: orange;
  } */
  
  .log1 {
    display: flex;
    /* flex: 0.3; */
    flex-direction: row;
  }
  .img1 {
    max-width: 30%;
    height: 50px;
  }
  .nav {
    display: flex;
    /* flex: 0.7; */
    justify-content: space-around;
  }
  header li a:hover{
    /* background-color: black; */
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    transition: all .5s;
  }
  header a{
    font-size: 11px;
    border-right: solid black;
    border-left: solid black;
    border-width: 1px;
    padding-right: 2px;
    padding-left: 2px;
  }
  
  
  header li {
    list-style: none;
  }
  header li a {
    text-decoration: none;
    color: #ff9b06;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .dashboard {
    height: 300px;
    width: 100%;
    object-fit: cover;
  
  }
  .img2 {
    width: 100%;
    height: 250px;
  
  }
  
  .songs {
    text-align: center;
    /* background-color: black; */
    /* border-radius: 200px; */
    color: orange;
    margin-top: 100px;
    margin-bottom: 20px;
    font: 1em sans-serif;
    font-size: 50px;
  }
  
  .artist {
    text-align: center;
    /* background-color: black; */
    /* border-radius: 200px; */
    color: orange;
    margin-top: 100px;
    margin-bottom: 20px;
    font: 1em sans-serif;
    font-size: 50px;
  }
  
  .videos {
    text-align: center;
    /* background-color: black; */
    /* border-radius: 200px; */
    color: orange;
    margin-top: 100px;
    margin-bottom: 20px;
    font: 1em sans-serif;
    font-size: 50px;
  }
  .log2 {
    object-fit: cover;
    display: flex;
    flex-direction: row;
  }
  .log2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .log2 img {
    height: 200px;
    padding: 10px;
    width: 250px;
  display: flex;
  justify-content: space-between;}
    
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-decoration: none;
    color:antiquewhite;
    text-transform: capitalize;
    background-color: orange;
    margin-right: 50px;
  }
  .btn:hover{
    background-color: orange;
    color: #fff;
    border: none;
    transform: scale(1.1);
    transition: all .4s;
  }
  
  .log3 {
    object-fit: cover;
    display: flex;
    flex-direction: row;
  }
  .log3 img {
    height: 200px;
    padding: 30px;
    width: 200px;
  }
  
  .last {
    display: flex;
    flex-direction: row;
  }
  .last img {
    width: 200px;
    height: 200px;
    padding: 30px;
  }
  
  .lob1 {
    color: orange;
  }
  .lob2 {
    color: rgb(81, 19, 19);
  }
  .lob3 {
    color: orange;
  }
  .lob4 {
    color: rgb(81, 19, 19);
  }
  .lob5 {
    color: orange;
  }
  .lob6 {
    color: rgb(81, 19, 19);
  }
  h3 span{
    font-size: 10px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    background-color:rgb(81, 19, 19);
    margin-top: 60px;
    justify-content: space-around;
    padding: 10px;
  
  }
  .footer ul li{
    list-style: none;
    color: rgb(124, 122, 122);
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  footer h6{
    color: rgb(124, 122, 122);
    font-size: 19px;
    font-weight: bold;
    margin-bottom: -5px;
    font-family:  sans-serif;
  }
  
  
  .img {
    width: 50px;
    height: 30px;
  }
  .white{
    color: #fff;
  }
  .orange{
    color: orange;
  }
  /* .footer div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  } */
  section{
    background-color: white;
  }
  
  
      .gallery-scroll {
    display: flex;
    /* flex-wrap: nowrap; */
    margin: 0;
    padding: 0;
    background-color:  rgb(81, 19, 19);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    
  }
  
  .gallery-item {
    padding: .4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color:rgb(255, 255, 255);
    color: #d9d9d9;
    scroll-snap-align: center;
    width:100%;
    height:270px ;
  
  }
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
   
    height: auto;
  }
  .icons a img{
    width: 40px;
    margin-top: 10px;
  }
  .text1{
  
    font-size: 8px;
    text-align: left;
  }
  .foot2{
    background-color: white;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
   background-image: url(./footer.png);
   background-size: 300px;
   background-repeat: no-repeat;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
    
   
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  form input{
    padding: 10px;
    margin-top: 15px;
  }
  
  .pfc{
    background-color: rgb(61, 9, 9) ;
    padding: 10px;
    border-radius: 10px;
  }
  
  


.dropbtn {
    background-color:  rgb(61, 9, 9);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    /* position: fixed; */
    background-color:rgb(61, 9, 9);
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 300px;
    
  }
  
  .dropdown-content a {
    color: yellow;
    padding: 5px ;
    text-decoration: none;
    display: block;
  }

  
  .dropdown-content a:active {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:active .dropbtn {background-color: white;}